<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>404980160696-lra7k6f6vjhm6uk02l314rffpvii98jo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404980160696-lra7k6f6vjhm6uk02l314rffpvii98jo</string>
	<key>API_KEY</key>
	<string>AIzaSyAz1i578TP-jSVHbAbxzf8swpwf8GMEnrA</string>
	<key>GCM_SENDER_ID</key>
	<string>404980160696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.addrinks.AdDrinks</string>
	<key>PROJECT_ID</key>
	<string>addrinks-developer</string>
	<key>STORAGE_BUCKET</key>
	<string>addrinks-developer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404980160696:ios:373b12b805758220</string>
	<key>DATABASE_URL</key>
	<string>https://addrinks-developer.firebaseio.com</string>
</dict>
</plist>